<?xml version="1.0"?>
<config>
  <modules>
    <Uraan_Discountproduct>
      <version>0.1.0</version>
    </Uraan_Discountproduct>
  </modules>
  <frontend>
    <routers>
      <discountproduct>
        <use>standard</use>
          <args>
            <module>Uraan_Discountproduct</module>
            <frontName>discountproduct</frontName>
          </args>
      </discountproduct>
    </routers>
	<layout>
      <updates>
        <discountproduct>
          <file>discountproduct.xml</file>
        </discountproduct>
      </updates>
    </layout>
  </frontend>
  <global>
    <helpers>
      <discountproduct>
        <class>Uraan_Discountproduct_Helper</class>
      </discountproduct>
    </helpers>
	<blocks>
	  <discountproduct>
		<class>Uraan_Discountproduct_Block</class>
	  </discountproduct>
	</blocks>
  </global>
</config> 