<?xml version="1.0"?>
<config>
  <modules>
    <Uraan_Encrypt>
      <version>0.1.0</version>
    </Uraan_Encrypt>
  </modules>
  <frontend>
    <routers>
      <encrypt>
        <use>standard</use>
          <args>
            <module>Uraan_Encrypt</module>
            <frontName>encrypt</frontName>
          </args>
      </encrypt>
    </routers>
	<layout>
      <updates>
        <encrypt>
          <file>encrypt.xml</file>
        </encrypt>
      </updates>
    </layout>
  </frontend>
  <global>
    <helpers>
      <encrypt>
        <class>Uraan_Encrypt_Helper</class>
      </encrypt>
    </helpers>
	<blocks>
	  <encrypt>
		<class>Uraan_Encrypt_Block</class>
	  </encrypt>
	</blocks>
  </global>
</config> 