<?xml version="1.0"?>
<config>
  <modules>
    <Uraan_Wallet>
      <version>0.1.0</version>
    </Uraan_Wallet>
  </modules>
  <global>
    <models>
      <wallet>
        <class>Uraan_Wallet_Model</class>
      </wallet>
    </models>
    <helpers>
      <wallet>
        <class>Uraan_Wallet_Helper</class>
      </wallet>
    </helpers>
    <blocks>
      <wallet>
        <class>Uraan_Wallet_Block</class>
      </wallet>
    </blocks>
  </global>
  <default>
    <payment>
      <wallet>
        <model>wallet/standard</model>
        <active>1</active>
        <order_status>pending</order_status>
        <title>My Wallet</title>
        <gateway_id>3UFB9SH5ND95</gateway_id>
        <payment_action>sale</payment_action>
        <allowspecific>0</allowspecific>
        <sort_order>1</sort_order>
      </wallet>
    </payment>
  </default>
  <frontend>
    <routers>
      <wallet>
        <use>standard</use>
        <args>
          <module>Uraan_Wallet</module>
          <frontName>wallet</frontName>
        </args>
      </wallet>
    </routers>
    <layout>
            <updates>
                <wallet>
                    <file>wallet.xml</file>
                </wallet>
            </updates>
        </layout>
  </frontend>
</config>
